body {
  overflow: hidden;
}

/* App */

.game-area {
  position: relative;
  margin: 50px auto;
  width: 600px;
  height: 600px;
  border: 2px solid #000;
}

.score {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Start */

.start {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Game Over */

.game-over {
  color: red;
  position: absolute;
  top: 42%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Snake */

.snake-dot {
  position: absolute;
  width: 4%;
  height: 4%;
  background-color: fuchsia;
  z-index: 2;
}

/* Food */

.food-dot {
  position: absolute;
  width: 4%;
  height: 4%;
  z-index: 1;
}
